@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4B515D !important;
    overflow: hidden !important;
}
#main_player{
    width: 400px;
    background-color: #3E4551;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden !important;

}

.nav_logo .img_logo{
    text-align: center;
    position: relative;
    padding: 20px;
}
.nav_logo .img_logo img{
    border-radius: 50%;
    width: 200px;
}
.div_before2{
    position: absolute;
    top:0px;
    left: 80px;
    width: 240px;
    color: white;
    height: 240px;
    border: 4px dashed  #B71C1C;
    border-radius: 50%;
    z-index: -1;
}
.div_before{
    position: absolute;
    top:10px;
    left: 90px;
    width: 220px;
    color: white;
    height: 220px;
    border: 5px dotted white;
    border-radius: 50%;
}
.nav_logo .title{
    margin-top: 20px;
    text-align: center;
}
.nav_logo .title h1{
    font-family: 'Sail', cursive;
    font-size: bold;
    color: white;
    font-size: 30px;
}
.clock{
    text-align: center;
    margin-top: 20px;
    font-family: 'Saira Stencil One', cursive;
    font-size: 20px;
    color: white;
}
.radio_control{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    font-size: 25px;
    cursor: pointer;
}
.radio_control i{
    color: white;
}
.radio_control i:hover{
    color:#283593;
    transition: 0.2s;
}

.sound_speed_control{
    text-align: center;
    margin-top: 20px;
}
.label_title{
    margin-bottom: 10px;
    margin-top: 5px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
.sound_speed_control input{
    width: 70%;
    height: 3px;
    cursor: pointer;
}

.radio_title{
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom:10px;
}
#volume_value,#speed_value{
color: wheat;
}
.mode{
    text-align: center;
    margin-top: 20px;
}
.mode button{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
}
.mode .mode1{
    background-color: #1C2331 ;
}

.mode .mode2{
    background-color: #000000;
}
.mode .mode3{
    background-color: #1c2a48 ;
}

.mode11{
    background-color: #1C2331  !important;
}
.mode22{
    background-color: #000000 !important;
}
.mode33{
    background-color: #1c2a48  !important;
}



@keyframes spin{
    0%{
        transform: rotate(360deg);
        border-radius: 50%;
    }
    40%{
        transform: rotate(270deg);
        border-radius: 40%;
    }
    50%{
        transform: rotate(180deg);
        border-radius: 30%;
    }

}

@keyframes spin2{

    0%{
        transform: rotate(360deg);
        border-radius: 50%;
    }
    40%{
        transform: rotate(270deg);
        border-radius: 40%;
    }
    50%{
        transform: rotate(180deg);
        border-radius: 30%;
    }


}

@keyframes endspin{

    0%{
        transform: rotate(360deg);
        border-radius: 30%;

    }
    40%{
        transform: rotate(270deg);
        border-radius: 35%;
        
    }
    50%{
        transform: rotate(180deg);
        border-radius: 40%;
    }
    80%{
        transform: rotate(90deg);
        border-radius: 45%;
    }
    100%{
        transform: rotate(0deg);
        border-radius: 50%;
    }
}
.rotate{
    animation-name: spin ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.spin_width{
    animation-name: spin2 ;
    /* animation-delay:3s; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.endrotate{
    animation-name: endspin ;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}


@media (max-width:500px)
{
    body{
        overflow: hidden;
    }
    .radio_control i:hover{
        color: white;
    }
}







